@using PagesLibrary.Service;
@using PagesLibrary.Pages.Rodo

@inject LoginPopUpService _loginPopUp
@inject CategoriesPopUpServie _categoriesPopUp

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Memy</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            @{
                var link = $"/directory/{@Memy.Shared.Helper.Categories.Waiting}";
                <NavLink class="nav-link" href="@link">
                    <span class="oi oi-browser" aria-hidden="true"></span> Nowe
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="_categoriesPopUp.ShowPopUp">
                <span class="oi oi-list" aria-hidden="true"></span> Więcej kategorii
            </NavLink>
        </div>


        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3" @onclick="_loginPopUp.ShowPopUp">
                    <NavLink class="nav-link">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Zaloguj się
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-document" aria-hidden="true"></span> Zarejestruj się
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="add">
                        <span class="oi oi-file" aria-hidden="true"></span> Dodaj
                    </NavLink>
                </div>
                @if (context.User.Identity is not null)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@($"profile/{@context.User.Identity.Name}")">
                            <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity.Name
                        </NavLink>
                    </div>
                }

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Wyloguj
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="bottom-0 px-3 ">
            <NavLink class="" href="@($"/privacy/{nameof(Cookie)}")">@nameof(Cookie)</NavLink> &bull;
            <NavLink class="" href="@($"/privacy/{nameof(Statue)}")">@nameof(Statue)</NavLink> &bull;
            <NavLink class="" href="@($"/privacy/{nameof(PrivacyPolicy)}")">@nameof(PrivacyPolicy)</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
