@page "/"
@page "/{Start:int?}"
@inject ILogger<Index> _logger



<div class="max-width-700">
    <MainFileListPage Start="@Start" Categories="@Categories" Max="@Max" Banned="@Banned" DateEnd="@DateEnd" DateStart="@DateStart"></MainFileListPage>
</div>


@code {
    [Parameter]
    public int Start { get; set; } = 0;
    [Parameter]
    public int? Max { get; set; }
    [Parameter]
    public string? Categories { get; set; }
    [Parameter]
    public bool? Banned { get; set; }
    [Parameter]
    public string? DateEnd { get; set; }
    [Parameter]
    public string? DateStart { get; set; }
}