@using Data.File
@using System.Net.Http.Headers;


@implements IDisposable
@inject ILogger<AddPages> _logger
@inject IFileManager _iFileManager
@inject NavigationManager _navigation
@inject AuthenticationStateProvider _authStateProvider
@inject PopupListService _popUp

<div>
    <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <div class="form-group">
                <InputText id="title" @bind-Value="@_fileAdd.Title" />
            </div>
            <div class="form-group">
                <InputText id="tag" @bind-Value="@_fileAdd.SimpleTag" @onkeyup="AddNewTag" />
                <div>
                    @for (int i = 0; i < _fileAdd.Tag.Count; i++)
                    {
                        <span>@_fileAdd.Tag[i]&nbsp;</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <InputTextArea id="description" @bind-Value="@_fileAdd.Description" />
            </div>
            <div>
                <InputFile OnChange="@Preview" multiple />
            </div>
            <div>
                @if (_fileUploadStatuses != null)
                {
                    @for (int i = 0; i < _fileUploadStatuses.Count; i++)
                    {
                        var index = i;

                        <div class="alert alert-info" @onclick="()=>RemoveAt(index)">
                            <p>@_fileUploadStatuses[i].Name</p>
                            <img src="@_fileUploadStatuses[i].ImgUrl" width="100" height="100" />
                        </div>

                    }
                }
            </div>
            @if (_error != null)
            {
                for (int i = 0; i < _error.Count; i++)
                {
                    <div class="alert alert-danger">@_error[i]</div>
                }
            }
            <dvi>
                <button class="btn btn-primary" type="submit" disabled="@_formInvalid">Dodaj</button>
            </dvi>
        </div>
    </EditForm>
</div>
@code {
    FileAdd _fileAdd = new FileAdd();
    EditContext? _editContext;
    private bool? _formInvalid = false;
    List<string?>? _error;
    List<FileUploadStatus?>? _fileUploadStatuses;

    #region Preview
    private async Task Preview(InputFileChangeEventArgs inputFile)
    {
        try
        {
            _logger.LogInformation("Initialized Preview");
            if (inputFile.FileCount > Memy.Shared.Helper.FileRequirements.MaxNumberOfFiles)
            {
                _error.Add($"Przekroczyłeś dopuszczalną liczbę plików {Environment.NewLine}Dopuszczalna liczba = {Memy.Shared.Helper.FileRequirements.MaxNumberOfFiles}");
                _logger.LogError("Too many images max {0}", Memy.Shared.Helper.FileRequirements.MaxNumberOfFiles);
            }
            for (int i = 0; i < inputFile.FileCount; i++)
            {
                if (_fileUploadStatuses.Count >= Memy.Shared.Helper.FileRequirements.MaxNumberOfFiles)
                    break;

                var status = Data.File.CheckingFile.GetStatus(inputFile.GetMultipleFiles()[i]);

                if (!string.IsNullOrWhiteSpace(status.Item2))
                {
                    _error.Add(status.Item2);
                    _logger.LogError("Error: {0}", status.Item2);
                    StateHasChanged();
                    continue;
                }

                var result = await Data.File.CheckingFile.CorrectData(inputFile.GetMultipleFiles()[i], status.Item1);
                _fileUploadStatuses.Add(result);
                _popUp.ShowToats($"{status.Item1.Name} został dodany do listy", "Nowy plik", PopupLevel.Level.Info);
                _logger.LogInformation("Show new image {0}", status.Item1.Name);
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            _logger.LogError(ex.Message);
        }
    }
    private void RemoveAt(int index)
    {
        try
        {
            if (_fileUploadStatuses != null)
            {
                var name = _fileUploadStatuses[index].Name;
                _fileUploadStatuses.RemoveAt(index);
                StateHasChanged();
                _popUp.ShowToats($"{name} został usunięty", "Usunięty", PopupLevel.Level.Info);
                _logger.LogInformation("Remove item at {0}", index);
            }
        }
        catch (Exception ex)
        {
            _logger.LogError(ex.Message);
        }
    }
    #endregion

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_fileAdd);
        _editContext.OnFieldChanged += HandleFieldChanged;
        _fileUploadStatuses = new List<FileUploadStatus?>();
        _error = new List<string?>();
        _logger.LogInformation("Initialized page");
    }
    public void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        if (_editContext != null)
        {
            _formInvalid = !_editContext.Validate();
            _error.Clear();
        }
        StateHasChanged();
    }

    #region Send
    private async Task HandleValidSubmit()
    {
        _logger.LogInformation("Valid Submit");
        if (_editContext != null)
        {
            try
            {
                _popUp.ShowToats("Rozpoczęto przestłanie pliku", "Przesyłanie", PopupLevel.Level.Info);
                var request = new FileUploadModel();
                request.Title = _fileAdd.Title;
                request.Description = _fileAdd.Description;
                request.Tag = new string[_fileAdd.Tag.Count];
                for (int i = 0; i < _fileAdd.Tag.Count; i++)
                {
                    request.Tag[i] = _fileAdd.Tag[i];
                }

                request.FileUploadStatuses = new FileUploadStatus[_fileUploadStatuses.Count];

                for (int i = 0; i < _fileUploadStatuses.Count; i++)
                {
                    request.FileUploadStatuses[i] = new FileUploadStatus();
                    request.FileUploadStatuses[i].Name = _fileUploadStatuses[i].Name;
                    request.FileUploadStatuses[i].Typ = _fileUploadStatuses[i].Typ;
                    request.FileUploadStatuses[i].Data = new byte[_fileUploadStatuses[i].Data.Length];
                    request.FileUploadStatuses[i].Data = _fileUploadStatuses[i].Data;
                }

                var result = await _iFileManager.PostFileAsync(request);

                if (result.IsSuccessStatusCode)
                {
                    _popUp.ShowToats("Plik został udostępniony", "Przesyłanie", PopupLevel.Level.Success);
                    await Task.Run(() =>
                    {
                        Thread.Sleep(5 * 1000);
                        _error.Clear();
                        _fileAdd = new FileAdd();
                        _fileUploadStatuses.Clear();
                        StateHasChanged();
                    });
                }
                else
                {
                    _logger.LogError(await result.Content.ReadAsStringAsync());
                    _popUp.ShowToats("Nie udało się przesłać pliku", "Przesyłanie", PopupLevel.Level.Error);
                }
            }
            catch (Exception ex)
            {
                _logger.LogError(ex.Message);
            }
        }
    }



    #endregion


    public void Dispose()
    {
        _logger.LogInformation("Dispose");
        if (_editContext != null)
        {
            _editContext.OnFieldChanged -= HandleFieldChanged;
        }
    }

    public void AddNewTag(KeyboardEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(_fileAdd.SimpleTag))
        {
            return;
        }

        if (e.Code == "Enter")
        {
            _fileAdd.Tag.Add(_fileAdd.SimpleTag);
            _fileAdd.SimpleTag = "";
            StateHasChanged();
        }
        _logger.LogInformation("Add new tag");
    }



    class FileAdd
    {
        [System.ComponentModel.DataAnnotations.Required(ErrorMessage = "Tytuł jest wymagany")]
        [System.ComponentModel.DataAnnotations.MinLength(length: 3, ErrorMessage = "Tytuł jest za krótki")]
        [System.ComponentModel.DataAnnotations.MaxLength(length: 100, ErrorMessage = "Tytuł jest za długi")]
        public string? Title { get; set; }
        [System.ComponentModel.DataAnnotations.MaxLength(length: 5000, ErrorMessage = "Opis jest za długi")]
        public string? Description { get; set; }
        public List<string> Tag { get; set; }
        public string SimpleTag { get; set; }
        public FileAdd()
        {
            Tag = new List<string>();
        }
    }
}
