@using PagesLibrary.Data.File;
@using PagesLibrary.Service;
@inject ILogger<MainFilePage> _logger
@inject IFileManager _iFileManager
@inject NavigationManager _navigation
@inject PopupListService _popUp
@inject IReaction _reaction
@inject MainFilePopUpService _mainPopup


@if (TaskModel != null)
{
    <div>
        <h4>@TaskModel.Id @TaskModel.Title</h4>
        <div>
            <span>@TaskModel.User.Name</span>
            <span>@_date</span>
        </div>
        <div>
            @if (TaskModel.Tag != null)
            {
                for (int j = 0; j < TaskModel.Tag.Length; j++)
                {
                    <span>@TaskModel.Tag[j].Value &nbsp;</span>
                }
            }
        </div>
        <div>
            @if (TaskModel.Description != null)
            {
                @if (TaskModel.Description.Length > _descriptionLength)
                {
                    <details>
                        <summary>
                            @(GetFirstSegment(TaskModel.Description).ToString())
                        </summary>
                        @(GetRestSegment(TaskModel.Description).ToString())
                    </details>
                }
                else
                {
                    <p>
                        @TaskModel.Description
                    </p>
                }
            }
        </div>
        <div>
            @if (TaskModel.FileModel != null)
            {
                if (TaskModel.FileModel.Length > 1)
                {
                    <div class="m-auto d-flex justify-content-center">
                        @for (int j = 0; j < TaskModel.FileModel.Length; j++)
                        {
                            var img = j;
                            <button class="btn" @onclick="@(()=>ChangeImg(img))">
                                <img src="@(_iFileManager.GetImgAsync(TaskModel.FileModel[j].Name,TaskModel.FileModel[j].Typ))"
                                     alt="@TaskModel.FileModel[j].Name" width="50" height="50" loading="lazy" />
                            </button>
                        }
                    </div>
                }
                <img src="@(_iFileManager.GetImgAsync(TaskModel.FileModel[_maingImg].Name,TaskModel.FileModel[_maingImg].Typ))"
                     alt="@TaskModel.FileModel[_maingImg].Name" style="width: 100%; object-fit: cover;" loading="lazy" />
            }
        </div>
        <div class="m-auto d-sm-flex justify-content-center p-1">
            <button class="btn btn-outline-primary text-white border border-1 border-primary" @onclick="@(() => _mainPopup.ShowPopUp(TaskModel))">Komentarze</button>
            &nbsp;
            <div class="border border-1 border-primary form-check-inline">
                <AuthorizeView>
                    <Authorized>
                        @if (TaskModel.Reaction.Value >= 0)
                        {
                            <button class="btn oi oi-minus btn-outline-primary text-white border border-0" @onclick="@(()=>SetReaction(TaskModel.Id,-1))" />
                        }
                        @if (TaskModel.Reaction.Value != 0)
                        {
                            <button class="btn btn-outline-primary text-white border border-0" @onclick="@(()=>SetReaction(TaskModel.Id,0))">
                                @TaskModel.Reaction.ValueSum
                            </button>
                        }
                        else
                        {
                            <span class="btn text-white">@TaskModel.Reaction.ValueSum</span>
                        }
                        @if (TaskModel.Reaction.Value <= 0)
                        {
                            <button class="oi oi-plus btn btn-outline-primary text-white border border-0" @onclick="@(()=>SetReaction(TaskModel.Id,1))" />
                        }
                    </Authorized>
                    <NotAuthorized>
                        <span class="p-2">@TaskModel.Reaction.ValueSum</span>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
}
else
{
    <span>Loading...</span>
}

@code {
    [Parameter]
    public TaskModel? TaskModel { get; set; }
}
