@using PagesLibrary.Data.File
@using PagesLibrary.Service

@inject ILogger<MainFileListPage> _logger
@inject IFileManager _iFileManager
@inject NavigationManager _navigation
@inject PopupListService _popUp
@inject MainFilePopUpService _mainPopup
@inject Blazored.SessionStorage.ISessionStorageService _seassionStorage


<div>
    <div class="m-auto d-flex justify-content-center">
        <div class="justify-content-end h-auto m-auto">
        </div>
        <div class="float-end">
            <div class="top-50">
                <DropDownList List="@PagesLibrary.Helper.ListInDropDown.DateTable" @bind-Value="@_dateLenght" Func="@(()=>ChangeDateOrOrder())"></DropDownList>
            </div>
        </div>
        <div class="float-end">
            <div class="top-50">
                <DropDownList List="@PagesLibrary.Helper.ListInDropDown.OrderTable" @bind-Value="@_orderTyp" Func="@(()=>ChangeDateOrOrder())"></DropDownList>
            </div>
        </div>
    </div>
    @if (TaskModels != null)
    {
        @for (int i = 0; i < TaskModels.Length; i++)
        {
            var index = i;
            <MainFilePage TaskModel="@TaskModels[index]" Func="@(()=>ChangePage(Start))" />
        }
    }
    else
    {
        <p>Loading...</p>
    }
    <br />
    <NextPageButtonsComponent Start="Start" OnClick="ChangePage" />
</div>


@code {
    [Parameter]
    public int Start { get; set; } = 1;
    [Parameter]
    public int? Max { get; set; } = 10;
    [Parameter]
    public string? Categories { get; set; }
    [Parameter]
    public bool? Banned { get; set; } = false;
    [Parameter]
    public string? DateEnd { get; set; }
    [Parameter]
    public string? DateStart { get; set; }

    ValueInDropDownList _dateLenght = PagesLibrary.Helper.ListInDropDown.DateTable[0];

    ValueInDropDownList _orderTyp = PagesLibrary.Helper.ListInDropDown.OrderTable[0];

}
