@page "/directory/{Categories?}"
@page "/directory/{Categories?}/{Start:int?}/{Banned:bool?}"
<div>
    <MainFileListPages Start="@Start" Categories="@Categories" Max="@Max" Banned="@Banned" DateEnd="@DateEnd" DateStart="@DateStart"></MainFileListPages>
</div>

@code {
    [Parameter]
    public int? Start { get; set; } = 0;
    [Parameter]
    public int? Max { get; set; }
    [Parameter]
    public string? Categories { get; set; }
    [Parameter]
    public bool? Banned { get; set; }
    [Parameter]
    public string? DateEnd { get; set; }
    [Parameter]
    public string? DateStart { get; set; }

}