@{
    var showClass = IsVisible ? "d-block" : "d-none";
}

<div class="modal @showClass bg-opacity-75 bg-dark" style="z-index:1077;" @onclick="MouseClose"
@onmouseout="@MouseOut">
    <div class="modal-dialog modal-dialog-centered" style="z-index:2066;" @onmousemove="@MouseEnter">
        <div class="toast-container p-1 bg-black @showClass">
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">@HeaderText</strong>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="@(()=>Close(false))"></button>
                </div>

                <div class="toast-body text-black">
                    @BodyText
                </div>
                <button class="m-1 btn btn-success float-start" @onclick="@(()=>Close(true))">@YesText</button>
                <button class="m-1 btn btn-danger float-end" @onclick="@(()=>Close(false))">@NoText</button>
            </div>
        </div>
    </div>
</div>
