@using PagesLibrary.Data.Comment;
@inject ILogger<CommentComponent> _logger
@inject NavigationManager _navigation
@inject PopupListService _popUp
@inject IReaction _reaction
@inject ICommentApi _commentApi
@inject ModalPopUpService _modal
@inject PagesLibrary.Service.LoginPopUpService _LoginPopup

<div class="p-1 bg-gradient pb-sm-0 w-100 overflow-hidden">
    <div class="m-auto">

        <div class="d-inline-flex h-auto">
            <AvatarComponent AvatarSize="@Memy.Shared.Helper.MyEnums.AvatarSize.Comment" ImgName="@CommentModel.User.Avatar" />
            <div class="h-auto justify-content-center m-auto">
                <div class="top-50">@CommentModel.User.Name</div>
                <div class="top-50">@CompareDate.GetDate(CommentModel.Date)</div>
            </div>
        </div>

        <div class="float-end" style="transform:translateX(1rem);">
            <div class="border border-1 border-primary form-check-inline float-end rounded-3 m-auto p-auto" style="transform:scale(0.7);">
                <AuthorizeView>
                    <Authorized>
                        @if (CommentModel.Reaction.Value >= 0)
                        {
                            <button class="btn btn-outline-primary text-white border border-0 "
                            @onclick="@(()=>SetReaction(CommentModel.Id,-1))">
                                <h5 class="oi oi-minus p-1 my-0"></h5>
                                <h4 class="d-inline-block my-0 ">
                                    @CommentModel.Reaction.ValueSumNegative
                                </h4>
                            </button>
                        }
                        else
                        {
                            <button class="btn  btn-outline-primary text-white border border-0 "
                            @onclick="@(()=>SetReaction(CommentModel.Id,0))">
                                <h5 class="oi oi-minus bg-danger p-1 rounded-3 my-0"></h5>
                                <h4 class="d-inline-block my-0">
                                    @CommentModel.Reaction.ValueSumNegative
                                </h4>
                            </button>
                        }
                        @if (CommentModel.Reaction.Value <= 0)
                        {

                            <button class="btn btn-outline-primary text-white border border-0 "
                            @onclick="@(()=>SetReaction(CommentModel.Id,1))">
                                <h5 class="oi oi-plus p-1 my-0"></h5>
                                <h4 class="d-inline-block my-0">
                                    @CommentModel.Reaction.ValueSumPositive
                                </h4>
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-outline-primary text-white border border-0 "
                            @onclick="@(()=>SetReaction(CommentModel.Id,0))">
                                <h5 class="oi oi-plus p-1 bg-success rounded-3 my-0"></h5>
                                <h4 class="d-inline-block my-0">
                                    @CommentModel.Reaction.ValueSumPositive
                                </h4>
                            </button>
                        }
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-outline-primary text-white border border-0 " @onclick="@_LoginPopup.ShowPopUp">
                            <span class="oi oi-minus bg-danger p-1 my-0"></span>
                            <span class="d-inline-block my-0">
                                @CommentModel.Reaction.ValueSumNegative
                            </span>
                        </button>
                        <button class="btn btn-outline-primary text-white border border-0" @onclick="@_LoginPopup.ShowPopUp">
                            <h5 class="oi oi-plus bg-success p-1 my-0"></h5>
                            <h4 class="d-inline-block my-0">
                                @CommentModel.Reaction.ValueSumPositive
                            </h4>
                        </button>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
    <div class="w-100">
        @if (CommentModel.Description != null)
        {
            @if (CommentModel.Description.Length > _descriptionLength)
            {
                <details class="w-100">
                    <summary class="w-100">
                        @(GetFirstSegment(CommentModel.Description).ToString())

                    </summary>
                    @(GetRestSegment(CommentModel.Description).ToString())
                </details>
            }
            else
            {
                <span>
                    @CommentModel.Description
                </span>
            }
        }
    </div>
    <AnswerCommentComponentList Id="CommentModel.Id" OrderTyp="OrderTyp" />
</div>



@code {
    [Parameter]
    public CommentModel CommentModel { get; set; }
    [Parameter]
    public int OrderTyp { get; set; } = 0;
}
